body{
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(221, 215, 129);
    border-bottom: 1px darkkhaki;
    box-shadow: 1px 1px darkolivegreen;
}

.navbar > li{
    display: flex;
    align-items: center;
}

.logo{
    height: 70px;
}

.button{
    color: cornsilk;
    border:0px;
    padding: 6px 8px;
    border-radius: 10px;
    font-weight: bolder;    
}

.button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.mainButton{
    background-color: rgb(62, 113, 126);
    border-bottom: rgb(17, 47, 61);
}

.mainButton:hover{
    box-shadow: 1px 1px rgb(13, 69, 71);
}

.secondaryButton{
    background-color: rgb(0, 204, 255);
    border-bottom: rgb(30, 184, 255);
}

.secondaryButton:hover{
    box-shadow: 1px 1px cadetblue;
}

.buscar{
    background-color: rgb(245, 239, 239);
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within{
    border: 1px solid lightblue;
}

.buscar > input{
    outline: none;
    border: 0px;
}

.iconobusqueda:hover{
    color: darkturquoise;
}

.tittle{
    color: rgb(8, 8, 8);
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

.breedCardContainer{
    display: flex;
}

.breedCard{
    margin: 10px;
    background: rgb(223, 217, 142);
    box-shadow: 5px 10px 5 px gainsboro;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.breedTittle{
    color: rgb(66, 65, 65);
    margin: 10px;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.contenedorImagenes{
    width: 200px;
    height: 200px;
    display: flex;
    margin-bottom: 10px;
}

.contenedorImagenes:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.contenedorImagenes > img {
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}